@model MyShop.Core.ViewModels.BasketSummaryModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "Basket")">@Model.BasketCount Items</a></li>
    <li><a href="@Url.Action("Index", "Basket")">@String.Format("{0:c}",@Model.Total) Total</a></li>
</ul>